/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

html {
  font-size: 20px;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.container-flex {
  width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
